# yarn
.yarn/*
#!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks

/test/generated/
/output
/dist

node_modules

# IDEs and editors
.idea
.DS_Store

# Test specs
test/*
!test/petstore.yaml
!test/config.ts
!test/generated/
!test/generated/.gitkeep
!test/generated/base/
!test/generated/base/.gitkeep
!test/generated/next/
!test/generated/next/.gitkeep
