name: Publish to NPM
on:
  push:
    tags:
      - v1.*
      - v2.*
jobs:
  build:
    runs-on: ubuntu-latest
    environment: v4
    steps:
      - uses: actions/checkout@v4
      - run: corepack enable
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: "https://registry.npmjs.org"
          cache: "yarn"
      - run: yarn install --immutable
      - run: yarn build
      - run: npm pack
      - name: Publish release
        if: "!contains(github.ref, '-rc.')"
        run: npm publish --access=public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Publish release candidate
        if: contains(github.ref, '-rc.')
        run: npm publish --access=public --tag next
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
