name: Publish to NPM

on:
  push:
    tags:
      - v1.*
      - v2.*

permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    environment: v4
    steps:
      - uses: actions/checkout@v6

      - run: corepack enable

      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: "yarn"

      - run: yarn install --immutable

      - run: yarn build

      - run: npm pack

      - name: Publish release
        if: "!contains(github.ref, '-rc.')"
        run: npm publish --access=public

      - name: Publish release candidate
        if: contains(github.ref, '-rc.')
        run: npm publish --access=public --tag next
